{% extends 'admin.twig' %}

{% block sidebar %}
<ul class="nav nav-list">
    <li class="nav-header">Classes</li>
    <li>Nombre de classes : {{ classes|length }}</li>
    <li class="nav-header">Cache</li>
    <li>{{ cacheFile }}</li>
    <a href="/admin/autoload/purge" class="btn btn-info btn-small">
          <i class="icon-remove icon-white"></i> Purge
        </a>
</ul>
{% endblock %}

{% block content %}
    <h1>Autoloads</h1>
    <input class="filterInput" type="text" size="20"></input>
    <table class="table table-striped table-hover table-condensed filterList">
        <thead>
            <tr>
                <th>Class</th>
                <th>Filepath</th>
            </tr>
        </thead>
        <tbody>
    {% for class, path in classes %}
            <tr>
                <td class="filterOnMe"><h4>{{ class }}</h4></td>
                <td>{{ path }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}