{% extends 'admin.twig' %}
{% from 'macros/dump.twig' import dump %}

{% block sidebar %}
<ul class="nav nav-list">
    <li class="nav-header">Variables</li>
    <li>Nombre de classes : {{ variables|length }}</li>
    <li class="nav-header">Files in error</li>
    {% for errorFile in errorFiles %}
        <li>{{ errorFile }}</li>
    {% endfor %}
    <li class="nav-header">Cache</li>
    <li>{{ cacheFile }}</li>
    <a href="/admin/config/purge" class="btn btn-info btn-small">
          <i class="icon-remove icon-white"></i> Purge
        </a>
</ul>
{% endblock %}

{% block content %}
    <h1>Configuration</h1>
    <input class="filterInput" type="text" size="20"></input>
    <table class="table table-striped table-hover table-condensed filterList">
        <thead>
            <tr>
                <th>Variable</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
    {% for variable, value in variables %}
            <tr>
                <td class="filterOnMe"><h4>{{ variable}}</h4></td>
                <td>{{ dump(value)|trim }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}