{% if flashes|length > 0 %}
    <div class="row">
    {% for flash in flashes %}
        <div class="{{ divClass }}">
            {{ flash|raw }}
        </div>
    {% endfor %}
    </div>
{% endif %}