<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>piko Admin{%if title is not empty %} : {{ title }}{% endif %}</title>
    <!-- Bootstrap -->
    <link href="/vendor/piko/piko/design/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/piko/piko/design/assets/css/admin.css" rel="stylesheet" media="screen">
    <link href="/vendor/piko/piko/design/assets/css/bootstrap-responsive.css" rel="stylesheet">
    {% for cssFile in css %}
        <link href="{{ cssFile }}" rel="stylesheet">
    {% endfor %}
  </head>
  <body>
    
    {% block navbar %}
    {% endblock %}
    
    <div class="container-fluid">
      <div class="row-fluid">
          <div class="span2">
            {% block sidebar %}
                {% include 'menus/sidebar.twig' %}
            {% endblock %}
          </div>
          <div class="span10">
            {% block flashes %}
              {% include 'flashes.twig' with {'divClass': 'span12'} %}
            {% endblock %}
            {% block content %}
            {% endblock %}
          </div>
      </div>
    </div>
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/vendor/piko/piko/design/assets/js/bootstrap.min.js"></script>
    {% for jsFile in js %}
        <script src="{{ jsFile }}"></script>
    {% endfor %}
  </body>
</html>