{% extends 'layout.twig' %}

{% block content %}
<form class="form-signin" action="{{ action }}" method="post" onsubmit="cryptPassword()">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input name="username" type="text" class="input-block-level" placeholder="Login">
    <input id="password" type="password" class="input-block-level" placeholder="Password">
    <label class="checkbox">
        <input name="Field" type="checkbox" value="remember-me"> Remember me
    </label>
    <button name="{{ submitName }}" class="btn btn-large btn-primary" type="submit">Sign in</button>
    <input id="redirectUri" type="hidden" name="redirectUri" value="{{ redirectUri }}" /><br>
    <input id="md5" type="hidden" name="password" size="32" /><br>
    <input id="token" type="hidden" name="token" size="32" value="{{ csrfToken }}"/><br>
</form>
<input id="salt" type="hidden" size="32" value="{{ salt }}"/><br>
{% endblock %}