{% extends 'admin.twig' %}

{% block sidebar %}
<ul class="nav nav-list">
    <li class="nav-header">Routes</li>
    <li>Nombre de routes : {{ routes|length }}</li>
    <li class="nav-header">Cache</li>
    <li>{{ cacheFile }}</li>
    <a href="/admin/routing/purge" class="btn btn-info btn-small">
          <i class="icon-remove icon-white"></i> Purge
        </a>
</ul>
{% endblock %}

{% block content %}
    <h1>Routing</h1>
    <input class="filterInput" type="text" size="20"></input>
    <table class="table table-striped table-hover table-condensed filterList">
        <thead>
            <tr>
                <th>Route</th>
                <th>Controller</th>
                <th>Regex</th>
            </tr>
        </thead>
        <tbody>
    {% for route in routes %}
            <tr>
                <td class="filterOnMe"><h4>{{ route.pattern }}</h4></td>
                <td>{{ route.controller }}::{{ route.method }}()</td>
                <td>{{ route.regex }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}