{% extends 'admin.twig' %}

{% block sidebar %}
<ul class="nav nav-list">
    <li class="nav-header">Signal</li>
    <li>Request : <a href="/admin/traffic/{{ requestId }}">{{ requestId }}</a></li>
    <li>Order : {{ row.order }}</li>
    <li>Signal : {{ row.signal}}</li>
    <li class="nav-header">Time</li>
    <li>Time : {{ row.time }} ms</li>
    </ul>
{% endblock %}

{% block content %}
<h1><a href="/admin/traffic">Traffic</a> : {{ row.signal }}</h1>

{{ var_dump(row.data) }}
{% endblock %}