{% extends 'admin.twig' %}

{% block content %}
    <h1>Traffic</h1>
    <input class="filterInput" type="text" size="20"></input>
    <table class="table table-striped table-hover table-condensed filterList">
        <thead>
            <tr>
                <th>Id</th>
                <th>@IP</th>
                <th>User</th>
                <th>Requested Uri</th>
                <th>Executed Uri</th>
                <th>Date</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
    {% for request in requests %}
            <tr>
                <td><a href="/admin/traffic/{{ request.id }}">{{ request.id }}</a></td>
                <td>{{ request.IP }}</td>
                <td>{%if request.userId is not empty %}{{ request.user }} #{{ request.userId }}{% endif %}</td>
                <td class="filterOnMe">{{ request.uri }}</td>
                <td>{{ request.real_uri }}</td>
                <td>{{ request.request_time }}</td>
                <td>{{ request.duration }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}