{% extends 'admin.twig' %}
{% from 'macros/dump.twig' import dump %}

{% block sidebar %}
<ul class="nav nav-list">
    <li class="nav-header">Request</li>
    <li>Id : {{ requestId }}</li>
    <li>Requested Uri : {{ request.uri }}</li>
    <li>Executed Uri : {{ request.real_uri }}</li>
    <li class="nav-header">Author</li>
    <li>User : {{ request.user }}</li>
    <li>UserId : {{ request.userId }}</li>
    <li>@IP : {{ request.IP }}</li>
    <li class="nav-header">Times</li>
    <li>Date : {{ request.request_time }}</li>
    <li>Duration : {{ request.duration }} s</li>
</ul>
{% endblock %}

{% block content %}
    <h1><a href="/admin/traffic">Traffic</a> : request #{{ requestId }}</h1>
    <input class="filterInput" type="text" size="20"></input>
    <table class="table table-striped table-hover table-condensed filterList">
        <thead>
            <tr>
                <th>Order</th>
                <th>Signal</th>
                <th>Data</th>
                <th>Time</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
    {% for signal in signals %}
            <tr>
                <td><a href="/admin/traffic/{{ requestId }}/{{ signal.order }}">{{ signal.order }}</a></td>
                <td class="filterOnMe">{{ signal.signal }}</td>
                <td>{{ dump(signal.data) }}</td>
                <td>{{ signal.time }}</td>
                <td>{{ signal.duration }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}