{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      
      {# Responsive navbar #}
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
     
      {% block nav_brand %}
      <a class="brand" href="/admin/framework">piko Admin</a>
      {% endblock %}
      
      <div class="nav-collapse collapse">

        {# Right user menu #}
        {% block navbar_user %}
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-user icon-white"></i> {{ userName }}
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript:;">My Profile</a></li>
              <li class="divider"></li>
              <li><a href="/user/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
        {% endblock %}
                
        {# Right cache menu #}
        {% if canAccess('/admin/*/purge') %}
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-wrench icon-white"></i> Purge cache
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/admin/routing/purge">Routing</a></li>
              <li><a href="/admin/config/purge">Configuration</a></li>
              <li><a href="/admin/autoload/purge">Autoloads</a></li>
              <li class="divider"></li>
              <li><a href="/admin/caches/purgeall">Tous les caches</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
      
        {# Right piko menu #}
        {% if canAccess('/admin/') %}
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="/admin/framework" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-cog icon-white"></i> Framework
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/admin/routing">Routing</a></li>
              <li><a href="/admin/config">Configuration</a></li>
              <li><a href="/admin/autoload">Autoloads</a></li>
              <li><a href="/admin/traffic">Traffic</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
        
        {# Left main menu #}
        {% block navbar_left %}
        <ul class="nav">
        </ul>
        {% endblock %}
        
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
{% endblock navbar %}