{% macro dump(value) %}
    {% if value is iterable %}
        {% for key, aValue in value %}
            [{{ key }}] {{ _self.dump(aValue) }}
        {% endfor %}
    {% elseif value is sameas(true) %}
        true
    {% elseif value is sameas(false)  %}
        false
    {% elseif value is object  %}
        Object
    {% else %}
        {{ value }}
    {% endif %}
{% endmacro %}